name: Dart

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1.6.4

      - name: Install dependencies
        run: dart pub get

      - name: Analyze project source
        run: dart analyze

    #   - name: Run tests
    #     run: dart test
